/* Colors */

$greencolor: #00838C;
$greendarkcolor: #09757A;
$greenlightcolor: #D8EFEF;
$blackcolor: #111111;
$blacklightcolor: #2b2b2b;
$graylightcolor: rgb(243, 243, 243);
$graylightcolor2: #f5f5f5;
$purplecolor: #d3c1f7;

body {
    font-family: "GD Sherpa Regular";
    font-size: 16px;
    line-height: 26px;
}

.hide-desktop {
    display: none;
    ;
}

h1 {
    font-family: "GDSage-Bold";
    font-size: 3.5rem;
    line-height: 4rem;
    margin-top: 0;
    margin-bottom: 16px;
}

h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 0;
}

h3 {
    font-size: 1.7rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: $blacklightcolor;
}

.main-container {
    max-width: 95vw;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.main-button {
    border-radius: 6px;
    background-color: $blackcolor;
    border: 2px solid $blackcolor;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    transition: all ease 0.3s;
    cursor: pointer;
}

.main-button:hover,
.white-button:hover {
    color: $blackcolor;
    background-color: white;
    transition: all ease 0.3s;
}

.main-button,
.white-button {
    &:after {
        content: "";
        height: 0.75rem;
        width: 1.25rem;
        background-image: url(img/arrow-button.svg);
        background-repeat: no-repeat;
        // position: absolute;
        inset-inline-end: 1em;
        opacity: 0;
        -webkit-transition: opacity 400ms cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 400ms cubic-bezier(0.16, 1, 0.3, 1);
        -webkit-transition: opacity 400ms cubic-bezier(0.16, 1, 0.3, 1), transform 400ms cubic-bezier(0.16, 1, 0.3, 1);
        transition: opacity 400ms cubic-bezier(0.16, 1, 0.3, 1), transform 400ms cubic-bezier(0.16, 1, 0.3, 1);
        will-change: transform, opacity;
    }

    &:hover:after {
        opacity: 1;
        position: inherit;
        display: inline-block;
        margin-left: 10px;
    }
}

.menu-mobile {
    display: none;
}

.white-button {
    border-radius: 6px;
    background-color: white;
    border: 2px solid white;
    color: $blackcolor;
    padding: 10px 24px;
    text-decoration: none;
}

.tag-blue,
.tag-gray {
    width: fit-content;
    padding: 4px;
    font-size: 13px;
    line-height: 20px;
}

.tag-gray {
    background-color: $graylightcolor;
}

.tag-blue {
    background-color: #7dffff;

}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 12px 0px;

    .top-header-left {
        display: flex;
        align-items: center;
    }

    .main-menu {
        margin: 0;

        .menu-item {
            list-style-type: none;
            display: inline-block;
            margin-right: 16px;


        }
    }

    a {
        color: white;
    }
}

.domain-searcher {
    display: flex;
    justify-content: space-between;
    background-color: $graylightcolor;
    margin-bottom: 16px;
    border-radius: 16px;
    padding: 6px;

    .domain-searcher-left {
        // flex: 1;
        width: 100%;
        display: flex;
        height: fit-content;
        justify-content: space-between;

        input {
            width: 100%;
            height: 48px;
            border-radius: 16px;
            border: none;
            padding: 16px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .domain-searcher-button {
            background-color: $greencolor;
            color: white;
            border-radius: 16px;
            border: none;
            position: relative;
            right: 10px;
            cursor: pointer;
            padding: 10px;
        }
    }

    .domain-searcher-right {
        display: flex;
        flex: 0 250px;
        padding: 8px;
        align-items: center;

        img {
            margin-right: 10px;
        }

        span {
            font-weight: bold;
            display: block;
        }

        p {
            font-size: 13px;
            line-height: 19px;
            margin: 0;
        }
    }
}

.intro {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
    justify-content: space-between;

    .intro-left {
        background-color: gray;
        background-image: url("img/intro-bg.webp");
        background-size: cover;
        background-position: center;
        padding: 36px;
        border-radius: 16px;
        flex: auto;

        .intro-left-content {
            max-width: 41%;
        }

        .tag-gray {
            display: block;
            margin-bottom: 12px;
        }
    }

    .intro-right {
        padding: 48px;
        border-radius: 16px;
        background-color: #111111;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        max-width: 24%;
        min-height: 450px;

        .tag-gray {
            color: $blackcolor;
            background-color: $purplecolor;
        }
    }
}

.banner-godaddy-tv {
    background-color: $graylightcolor;
    padding: 48px 0px;

    .banner-gdtv {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 32px;

        h2 {
            font-size: 2.1rem;
            margin-bottom: 10px;
        }

        p {
            margin: 0;
        }

        .banner-gdtv-images {
            img {
                max-width: 150px;
            }
        }

        .banner-gdtv-video {

            display: flex;
            gap: 8px;
            align-items: center;

            img {
                width: 45px;
            }
        }
    }
}

.blog {
    width: 70vw;
    padding: 80px 0px;
    text-align: center;
    margin: 0 auto;

    h2 {
        margin-bottom: 48px;
    }

    .blog-filter {
        margin-bottom: 48px;

        .blog-filter-button {
            border: 1px solid $blackcolor;
            margin-right: 16px;
            padding: 12px 16px;
            border-radius: 24px;

            &:hover {
                border-width: 2px;
                transition: all linear 0.5s;
            }
        }
    }

    .blog-grid {
        display: grid;
        grid-template-areas: "recent article2"
            "recent article3";
        gap: 16px;

        .grid-1 {
            grid-area: recent;
            background: url("img/article-1.webp");
        }

        .grid-2 {
            grid-area: article2;
            background: url("img/article-2.webp");
        }

        .grid-3 {
            grid-area: article3;
            background: url("img/article-3.webp");
        }

        .blog-grid-article {
            background-size: cover;
            background-position: right;
            padding: 36px;
            border-radius: 16px;
            background-repeat: no-repeat;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            h3 {
                margin-bottom: 8px;
            }

            p {
                max-width: 50%;
                margin-top: 0;
            }
        }
    }
}

.gd-airo {
    max-width: 90%;
    padding: 80px 0px;

    h2 {
        text-align: center;
        margin-bottom: 48px;
    }

    img {
        max-width: 100%;
        border-radius: 16px;
        margin-bottom: 12px;
    }

    .gd-airo-columns {
        display: flex;
        gap: 24px;
        margin-bottom: 32px;

        .gd-airo-columns-content {
            padding: 12px 18px;
            border-radius: 16px;
        }

        .gd-airo-columns-content:hover {
            background-color: $graylightcolor;
            cursor: pointer;
        }

        .gray-bg {
            background-color: $graylightcolor;

        }
    }

    .main-button {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
}



$animationSpeed: 20s;

// Animation
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-42vw)
    }
}

.templates {
    background-color: $graylightcolor;
    text-align: center;
    padding: 80px 0px;

    .templates-slider {
        display: flex;
        gap: 48px;
        margin-bottom: 48px;

        img {
            width: 20%;
        }
    }

    .templates-slider {
        margin-top: 32px;
        overflow: hidden;
        position: relative;

        &::before,
        &::after {
            content: "";
            height: 100px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }

        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }

        .templates-slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            margin: 0 auto;
            gap: 64px;

        }

        .templates-slide-track-image {
            img {
                width: auto;
                height: 450px;
            }
        }
    }
}

.lucinda {
    max-width: 85%;
    margin: 0 auto;
    padding: 80px 0px;

    h2 {
        padding-left: 48px;
        max-width: 35%;
        margin-bottom: 32px;
    }

    .lucinda-container {
        background-color: $graylightcolor;
        background-image: url("img/Lucinda-Hinojos-D.webp");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 16px;
        border-radius: 16px;
        display: flex;
        justify-content: flex-end;
        min-height: 800px;

        .lucinda-right {
            background-color: white;
            padding: 32px;
            border-radius: 16px;
            max-width: 37%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            min-height: 600px;

            h3 {
                font-size: 2.4rem;
                line-height: 3.2rem;
            }

            .lucinda-bottom {
                display: flex;
                gap: 24px;
                align-items: flex-end;

                .lucinda-bottom-left {


                    p {
                        margin-top: 0;

                        span {
                            font-weight: 800;
                        }
                    }

                    .icons-lucinda {
                        padding-left: 0;

                        li {
                            list-style-type: none;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            margin-bottom: 8px;

                            img {
                                background-color: $greenlightcolor;
                                padding: 6px;
                                border-radius: 8px;

                            }
                        }
                    }
                }

                .lucinda-bottom-right {
                    flex: 1 1 0;
                    text-align: right;

                    img {
                        border-radius: 12px;
                        width: 100%;
                    }
                }
            }

        }
    }
}

.trustpilot {
    margin-bottom: 80px;

    h2 {
        margin-bottom: 32px;
    }

    .trustpilot-carousel {
        display: flex;
        gap: 24px;
        margin-bottom: 48px;

        .trustpilot-slide {
            background-color: $graylightcolor2;
            padding: 24px;
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .trustpilot-title {
                font-size: 14px;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }
        }

        .trust-pilot-rating {
            display: flex;
            gap: 2px;
            margin-bottom: 10px;

            img {
                max-width: 16px;
            }
        }

        .trustpilot-review {
            margin-bottom: 32px;
        }
    }

    img {
        max-width: 130px;
    }
}

.work-gd {
    max-width: 80%;
    margin: 64px auto 80px auto;
    text-align: center;
    margin-bottom: 80px;

    p {
        max-width: 45%;
        margin: 12px auto 48px auto;
    }

    .work-grid {
        display: grid;
        grid-template-areas: "first second third"
            "fourth double double";
        gap: 16px;
        max-width: 1300px;
        margin: 0 auto;

        .grid-first {
            grid-area: first;
            background: url("img/work-gd-1.webp");
            color: white;
        }

        .grid-second {
            grid-area: second;
            background: url("img/work-gd-2.webp");
            color: white;
        }

        .grid-third,
        .grid-fourth {
            grid-area: third;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .grid-fourth {
            grid-area: fourth;
        }

        .grid-double {
            grid-area: double;
            width: auto;
            background: url("img/work-gd-3.webp");
            background-position: top;
            display: flex;
            align-items: center;

            h3 {
                max-width: 40%;
            }
        }

        .work-grid-element {
            background-color: $graylightcolor;
            height: 100px;
            padding: 32px 48px;
            min-height: 340px;
            text-align: left;
            border-radius: 16px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            img {
                margin-bottom: 8px;
            }

            h3 {
                margin-top: 0;
            }

        }
    }
}

.hero-contact {
    background: url("img//hero-contact.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .hero-contact-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p {
            max-width: 40%;
            margin-bottom: 0;
        }

        .mb-32 {
            margin-bottom: 16px;
        }
    }
}

.faq {
    padding: 80px 0px;
    max-width: 45%;
    margin: 0 auto;

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-bottom: 48px;
    }

    .faq-container {
        details {
            padding: 24px 0px;
            border-top: 1px solid #cccccc;
        }

        details[open] summary:after {
            content: " ▼";
        }

        summary {
            font-size: 22px;
            list-style: none;
            cursor: pointer;

            &::after {
                content: ' ◄';
                float: right;
            }

            &::-webkit-details-marker {
                display: none
            }
        }

    }
}

footer {
    background-color: $blackcolor;
    color: white;
    padding: 32px 0px;

    h4 {
        font-weight: 700;
    }


    .footer-top {
        max-width: 90%;
        margin: 0 auto 48px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 32px;

        a {
            color: white;
            display: block;
            margin-bottom: 16px;

            &:hover {
                text-decoration: underline;

            }
        }
    }

    .footer-bottom {
        margin: 0 auto;
        max-width: 90%;
        padding-bottom: 24px;

        .logo-social {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo-social-left {
                display: flex;
                align-items: flex-end;
                gap: 48px;
            }

            .logo-social-right {
                display: flex;
                gap: 32px;
            }
        }
    }

    .copyright {
        border-top: 1px solid white;
        padding: 1.5% 5%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        gap: 12px;

        p {
            margin-top: 0;
        }

        .copyright-right {
            flex: 0 20%;
            text-align: right;

            a {
                margin-right: 16px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}


$phone-width: 600px;
$tablet-width: 1000px;

@mixin tablet {
    @media (max-width: $tablet-width) {
        .hide-mobile {
            display: none;
        }

        .show-mobile {
            display: block;
        }

        .menu-mobile {
            display: block;
        }

        .menu-mobile-hidden {
            display: none;
            transition: all ease 1s;
        }

        .menu-mobile-showed {
            transition: all ease 1s;
            height: auto;
            position: absolute;
            top: 60px;
            background: #2b2b2b;
            color: white;
            z-index: 999;
            left: 0;
            padding: 62px;
            display: flex !important;
            flex-direction: column !important;
            width: 100%;

            li {
                margin-bottom: 32px;

                a {
                    font-size: 28px;
                }
            }
        }

        h2 {
            font-size: 2.3rem;
            line-height: 3rem;
            margin: 0;
        }

        h3 {
            font-size: 1.3rem;
            line-height: 1.8rem;
        }

        .menu-mobile {
            .fa-bars {
                color: white;
                font-size: 28px;
            }
        }

        .intro {
            flex-direction: column;

            .intro-right {
                max-width: 100%;
                min-height: 200px
            }
        }

        .banner-godaddy-tv {
            .banner-gdtv {
                flex-direction: column;

                .banner-gdtv-images {
                    img {
                        max-width: none;
                        width: 300px;
                        margin: 0 auto;

                    }

                }
            }
        }

        .blog {
            max-width: 80%;

            .blog-filter {
                overflow-x: auto;
                white-space: nowrap;
                padding-bottom: 16px;

                a {
                    display: inline-block;
                    height: fit-content;
                    width: fit-content;
                }
            }

            .blog-grid {
                grid-template-areas: "recent recent"
                    "article2 article3";
                grid-auto-columns: minmax(0, 1fr);

                .blog-grid-article {
                    min-height: 220px;
                    background-position: center;

                    p,
                    button {
                        display: none;
                    }

                }

                .grid-1 {
                    background-position: top;
                }
            }
        }

        .gd-airo {
            padding-top: 0;

            .gd-airo-columns {

                display: grid;
                overflow-x: scroll;
                -webkit-scroll-snap-type: x mandatory;
                -moz-scroll-snap-type: x mandatory;
                -ms-scroll-snap-type: x mandatory;
                scroll-snap-type: x mandatory;
                -webkit-scroll-behavior: smooth;
                -moz-scroll-behavior: smooth;
                -ms-scroll-behavior: smooth;
                scroll-behavior: smooth;
                -webkit-scrollbar-width: none;
                -moz-scrollbar-width: none;
                -ms-scrollbar-width: none;
                scrollbar-width: none;
                grid-template-columns: 1fr 1fr 1fr;

                .gd-airo-columns-content {
                    -webkit-scroll-snap-stop: always;
                    -moz-scroll-snap-stop: always;
                    -ms-scroll-snap-stop: always;
                    scroll-snap-stop: always;
                    min-width: 70vmin;
                    padding: 0;
                    height: max-content;

                    img {

                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    h3 {
                        margin-top: 0;
                        padding: 0px 16px;
                    }

                    p {
                        padding: 0px 16px;
                    }

                }
            }
        }

        .lucinda {
            h2 {
                padding: 0;
                max-width: none;
            }

            .lucinda-container {
                flex-direction: column;
                min-height: 840px;
                background-size: contain;

                .lucinda-right {
                    max-width: 100%;
                    min-height: fit-content;
                    padding: 12px;
                    background-color: transparent;
                    ;

                    h3 {
                        margin-top: 0;
                    }

                    .lucinda-bottom {
                        .lucinda-bottom-right {
                            img {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }

        .work-gd {
            max-width: 90%;
        }

        .hero-contact {
            .hero-contact-content {
                p {
                    max-width: 95%;
                    ;
                }
            }
        }

        footer {
            .footer-top {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .copyright {
                flex-direction: column;

                .copyright-right {
                    text-align: left;
                }
            }

        }
    }
}

@include tablet;

@mixin phone {
    @media (max-width: $phone-width) {

        .main-container {
            max-width: 90vw;
        }

        .domain-searcher {
            .domain-searcher-left {
                input {
                    height: 24px;
                }
            }
        }

        .intro {
            .intro-left {
                background-image: url("img/intro-mobile.webp");

                .intro-left-content {
                    max-width: 100%;
                    min-height: 75vh;
                    text-align: center;

                    .tag-gray {
                        margin: 10px auto;
                    }
                }
            }

            .intro-right {
                align-items: flex-start;
                text-align: left;
                padding: 16px 24px;

                h2 {
                    font-size: 1.5rem;
                    line-height: normal;
                }
            }
        }

        .domain-searcher {
            .domain-searcher-left {
                .domain-searcher-button {
                    right: 0;
                }
            }

            .domain-searcher-right {
                display: none
            }
        }

        .banner-gdtv {
            max-width: 90%;
            ;
        }

        .blog {
            .blog-filter {
                overflow-x: auto;
                white-space: nowrap;
                padding-bottom: 16px;

                a {
                    display: inline-block;
                    height: fit-content;
                    width: fit-content;
                }
            }

            .blog-grid {

                .blog-grid-article {
                    min-height: 150px;
                    padding: 16px;
                }
            }
        }


        .templates {

            h2,
            p {
                padding: 0px 26px;
            }

            .templates-slider {
                .templates-slide-track-image {

                    img {
                        height: 240px
                    }
                }
            }
        }

        .lucinda {
            .lucinda-container {
                min-height: 570px;

                .lucinda-right {

                    h3 {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }

                    .lucinda-bottom {
                        .lucinda-bottom-right {
                            img {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .trustpilot {

            .trustpilot-carousel {
                flex-direction: column;

                .trustpilot-slide {
                    width: 84%;
                }
            }
        }

        .trustpilot {
            max-width: 90%;
            margin: 0 auto;
        }

        .work-gd {
            p {
                max-width: 90%;
            }

            .work-grid {
                display: flex;
                flex-direction: column;

                .work-grid-element {
                    min-height: 300px
                }

                .grid-double {
                    display: block;
                    background-image: url("img/work-gd-3-mobile.webp");

                    h3 {
                        max-width: 100%;
                    }
                }
            }
        }

        .hero-contact {
            flex-direction: column;
            background: url("img//hero-contact-mobile.webp");
            background-size: contain;
            min-height: 510px;
            background-repeat: no-repeat;

            .hero-contact-content {
                width: 90%;

            }
        }

        .faq {
            padding: 80px 0px;
            max-width: 80%;
        }

        footer {

            .footer-bottom {
                .logo-social {
                    flex-direction: column;
                    align-items: flex-start;

                    .logo-social-left {
                        flex-direction: column;
                        margin-bottom: 48px;
                        align-items: flex-start;
                    }

                    .logo-social-right {
                        justify-content: space-around;
                        width: 100%;
                    }
                }

            }

            .copyright {
                padding-top: 24px
            }
        }
    }
}



@include phone;